<section class="slice-lg has-bg-cover bg-size-cover">
  <div class="container">
    <div class="row justify-content-center cols-xs-space">
      <div class="col-lg-4">
        <div class="form-card form-card--style-2 z-depth-2-top">
          <div class="form-header text-center">
            <div class="form-header-icon">
              <i class="icon ion-ios-log-in"></i>
            </div>
          </div>
          <div class="form-body">
            <div class="text-center px-2">
              <h4 class="heading heading-4 strong-400 mb-4">Se connecter à son compte</h4>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-default") do |f| %>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group has-feedback">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
                    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "small" %><br />
                    <% end -%>
                  </div>
                </div>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="checkbox">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= f.submit "Se connecter", class: "btn btn-styled btn-lg btn-block btn-base-1 mt-4" %>
            <% end %>

            <%- if devise_mapping.omniauthable? %>
              <div class="or or--1 mt-2">
                  <span>or</span>
              </div>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= link_to "<i class='icon ion-logo-facebook'></i> Se connecter avec Facebook".html_safe, omniauth_authorize_path(resource_name, provider), class: "btn btn-styled btn-block btn-facebook btn-icon--2 btn-icon-left px-4" %>
              <% end -%>
            <% end -%>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
