
  <!-- REVOLUTION SLIDER -->

<div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-hero39" data-source="gallery">
<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
	<div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
		<ul>
			<li data-index="rs-1" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="../../images/slider/concept-1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
        <%= image_tag "iphone-1.jpg", class: "rev-slidebg", data: { bgposition: "top center", bgfit: "cover", bgrepeat: "no-repeat" } %>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-1-layer-2"
					data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['16','16','16','16']"
					data-lineheight="['16','16','16','16']"
					data-width="[300, 300, 300, 300]"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 11; white-space: nowrap;text-transform:left;">

					<span class="text-uppercase strong-400">No more waiting</span>
				</div>

				<div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-1-layer-3"
					data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
					data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
					data-fontsize="['40','40','40','40']"
					data-lineheight="['50','40','40','40']"
					data-width="[300, 300, 300, 300]"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 11; white-space: nowrap;text-transform:left;">

					<span class="strong-400">
						Say hello to
					</span>
					<br>
					<span class="strong-600">
						the new Phone X
					</span>

				</div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption" id="slide-1-layer-5"
					data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
					data-y="['middle','middle','middle','middle']" data-voffset="['180','180','180','180']"
					data-fontsize="['40','40','40','40']"
					data-lineheight="['50','50','50','50']"
					data-width="[300, 300, 300, 300]"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 11; white-space: nowrap;text-transform:left;">

					<a href="#" class="btn btn-base-1 btn-circle">Buy now</a>

				</div>
			</li>

			<!-- SLIDE 2 -->
			<li data-index="rs-2" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="../../images/slider/concept-1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
        <%= image_tag "macbook-1.jpg", class: "rev-slidebg", data: { bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat" } %>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-2-layer-2"
					data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['16','16','16','16']"
					data-lineheight="['16','16','16','16']"
					data-width="[300, 300, 300, 300]"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 11; white-space: nowrap;text-transform:left;">

					<span class="text-uppercase strong-400">It's here</span>

				</div>

				<div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-2-layer-3"
					data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
					data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
					data-fontsize="['40','40','40','40']"
					data-lineheight="['50','40','40','40']"
					data-width="[300, 300, 300, 300]"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 11; white-space: nowrap;text-transform:left;">

					<span class="strong-400">
						Introducing
					</span>
					<br>
					<span class="strong-600">
						the new Macbook Pro
					</span>

				</div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption" id="slide-2-layer-5"
					data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
					data-y="['middle','middle','middle','middle']" data-voffset="['180','180','180','180']"
					data-fontsize="['40','40','40','40']"
					data-lineheight="['50','50','50','50']"
					data-width="[300, 300, 300, 300]"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 11; white-space: nowrap;text-transform:left;">

					<a href="#" class="btn btn-base-1 btn-circle">Buy now</a>

				</div>
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
	</div>
</div><!-- END REVOLUTION SLIDER -->



<section class="slice-lg page-title bg-minimalist">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h3 class="heading heading-1 strong-400 text-capitalize mb-2">
                        <span>Patisserie</span>
                    </h3>
                </div>

                <!-- Fluid text paragraph -->
                <div class="fluid-paragraph text-center mt-4">
                    <p class="">
                        Bienvenue dans notre patisserie, vous pouvez dès à present commander.
                    </p>
                    <a href="#" class="btn btn-styled btn-base-4 mt-4" data-scroll-to="#sct_products">
                        Voir les produits
                    </a>
                    <% if user_signed_in? %>
                    <% if current_user.admin == true %>
                    <%= link_to "Créer un produit", new_product_path(@product), class: "btn btn-styled btn-base-4 mt-4" %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1" id="sct_products">
    <div class="container">
        <div class="row-wrapper">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
            	<% @products.each do |product| %>
                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <% if product.image.attached? %>
                                    <%= link_to image_tag(product.image.variant(resize: "250x250")), product_path(product) %>
                                    <% else %>

                                    <%= link_to image_tag("no-image.png"), product_path(product) %>
                                    <% end %>
                                </a>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0" align="center"><%= product.name %></h3>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400"><span class="price-value"><%= product.price %>€</span></span>
                            </div>
                            <div class="btn btn-primary">Ajouter au panier</div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
