<section class="slice sct-color-1">
	<div class="container">
    <!-- Product gallery and Description -->
    <div class="row">
    	<div class="col-lg-5">
        <div class="gallery-container">
        	<% if @product.image.attached? %>
        		<%= image_tag @product.image, size: "450", class: "img-responsive"%>
          <% else %>
          	<%= image_tag("no-image.png", size: "450") %>
          <% end %>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="px-2">
          <!-- Product description -->
          <div class="product-description-wrapper">
            <!-- Product title -->
            <h2 class="product-title heading heading-3 strong-400 text-capitalize">
              <%= @product.name %>
            </h2>
            <hr>

						<!-- Product description -->
	          <div class="product-short-text mt-4">
	              <h3 class="heading heading-xs strong-500 text-uppercase">
	                  Description:
	              </h3>
	              <p>
	                 <%= @product.description %>
	              </p>
	          </div>
            <hr>
						<%= form_with model: @item, url: items_path do |f| %>
							<div class="row d-flex justify-content-between align-items-center">
								<div class="col-md-4">
									<div class="product-price py-1">
										<%= number_to_currency @product.price, unit: "€", separator: ",", format: "%n%u /part"  %>
									</div>
								</div>
						    <div class="col-md-4">
				  	      <div class="form-group">
										Nombre de part :
										<%= f.select(:quantity, options_for_select([[6, 6], [8, 8], [10, 10]]), class: "form-control form-control-lg") %>
							  	</div>
							  </div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<%= f.label :personalization, 'Si vous souhaitez personnaliser votre commande avec un message écrit en chocolat, vous pouvez remplir le champs ci dessous (facturé 2€50):',class: "control-label" %>
										<%= f.text_field :personalization, placeholder: "Joyeux Anniversaire Sarah !", class: "form-control form-control-lg" %>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<%= f.label :comment, 'Voulez vous ajouter un commentaire pour ce produit ?',class: "control-label" %>
										<%= f.text_area :comment, class: "form-control form-control-lg" %>
									</div>
								</div>
							</div>

	            <div class="row">
                <!-- Add to cart button -->
								<%= button_tag type: 'submit', class: "btn btn-styled btn-block btn-base-1 btn-icon-left" do %>
					      	<i class="icon ion-ios-cart" aria-hidden="true"></i>Ajouter au panier
								<% end %>
	            </div>
						<% end %>

						<br />
						<div class="row">
							<% if user_signed_in? %>
								<% if current_user.admin == true %>
									<div class="col-6">
										<%= link_to "Modifie ton produit", edit_product_path(@product), class: "btn btn-styled btn-block btn-primary"%>
									</div>
									<div class="col-6">
										<%= link_to "Supprimer le produit", product_path(@product), method: :delete, class: "btn btn-styled btn-block btn-danger"%>
									</div>
								<% end %>
							<% end %>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
