<footer id="footer" class="footer footer-inverse">
  <div>
    <div class="container">
      <div class="text-center">
        <ul class="footer-menu">
          <li>
            <%= link_to "Accueil", root_path %>
          </li>
          <li>
            <%= link_to 'à propos', unavailable_path %>
          </li>
          <li>
            <%= link_to "Boutique", root_path %>
          </li>
          <li class="logo-delimiter">
            <%= link_to image_tag("logo.png", alt: "Patisserie KN"), root_path %>
          </li>
          <li>
            <%= link_to 'CGU', unavailable_path %>
          </li>
          <li>
            <%= link_to 'Facebook', unavailable_path %>
          </li>
          <li>
            <%= link_to 'Contact', unavailable_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
