<div class="header">
  <%= link_to "  Accueil  ", root_path %>
  <% if user_signed_in? %>
    <%= link_to "  Profil  ", edit_user_registration_path %>
    <%= link_to "  Se déconnecter  ", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "  S'enregistrer  ", new_user_registration_path %>
    <%= link_to "  Se connecter  ", new_user_session_path %>
    <%= link_to "  Mot de passe oublié ?  ", new_user_password_path %>
  <% end %>
</div>
