<!DOCTYPE html>
<html>
  <head>
    <title>PatisserieKn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/ionicons@4.4.8/dist/css/ionicons.min.css" rel="stylesheet">
  </head>

  <body>
    <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
    <% flash.each do |type, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{type}") %>
    <% end %>
    <%= yield %>

  </body>
</html>
