<!DOCTYPE html>
<html>
  <head>
    <title>PatisserieKn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link href="https://unpkg.com/ionicons@4.4.8/dist/css/ionicons.min.css" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  </head>

  <body>
    <div class="body-wrap">
      <%= render 'layouts/header' %>
      <% flash.each do |type, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

    <script>
      function initializeAutocomplete(id) {
        var element = document.getElementById(id);
        if (element) {
          var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'], componentRestrictions: {country: 'fr'} });
          google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        }
      }

      function onPlaceChanged() {
        var place = this.getPlace();

        // console.log(place);  // Uncomment this line to view the full object returned by Google API.

        for (var i in place.address_components) {
          var component = place.address_components[i];
          for (var j in component.types) {  // Some types are ["country", "political"]
            var type_element = document.getElementById(component.types[j]);
            if (type_element) {
              type_element.value = component.long_name;
            }
          }
        }
      }

      google.maps.event.addDomListener(window, 'load', function() {
        initializeAutocomplete('autocomplete_address');
      });
    </script>
  </body>
</html>
