<section class="slice-sm sct-color-1">
  <div class="profile">
    <div class="container">
      <div class="row cols-xs-space cols-sm-space cols-md-space">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="main-content">
            <!-- Page title -->
            <div class="page-title">
              <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                  <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                    <a href="#" class="link text-underline--none">
                      <i class="ion-ios-arrow-back"></i> Profil
                    </a>
                  </h2>
                </div>
                <div class="col-lg-6 col-12"></div>
              </div>
            </div>

            <div class="link-menu link-menu--style-3 py-4 border-bottom">
              <a href="#" class="active">Settings</a>
              <a href="#">Orders</a>
              <a href="#">Cards</a>
              <a href="#">Security</a>
              <a href="#">Connections</a>
            </div>

            <!-- Account settings -->

            <div class="row">
              <div class="col-lg-12">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>

                  <!-- General information -->
                  <div class="card no-border bg-transparent">
                    <div class="card-title px-0 pb-0 no-border">
                      <h3 class="heading heading-6 strong-600">
                        Information du profil
                      </h3>
                    </div>
                    <%= f.fields_for :profile do |ff| %>
                      <div class="card-body px-0">
                        <div class="row">
                          <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                              <%= ff.label :first_name %><br />
                              <%= ff.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control form-control-lg" %>
                            </div>
                          </div>

                          <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                              <%= ff.label :last_name %><br />
                              <%= ff.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control form-control-lg" %>
                            </div>
                          </div>

                          <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                              <%= ff.label :phone_number %><br />
                              <%= ff.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control form-control-lg" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <hr class="mt-0 mb-0">

                  <!-- Account info -->
                  <div class="card no-border bg-transparent">
                    <div class="card-title px-0 pb-0 no-border">
                      <h3 class="heading heading-6 strong-600">
                        Information du compte
                      </h3>
                      <div class="mt-1 mb-0">
                        Votre email actuel : <%= @user.email %><br />

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>
                            Attention, votre adresse email n'a pas été confirmé.<br />
                            Cliquez <%= link_to "ici", new_confirmation_path(resource_name) %> pour recevoir à nouveau le mail de confirmation.<br />
                          </div>
                        <% end %>
                        Vous pouvez mettre à jour votre email ci dessous (votre mot de passe sera nécessaire).
                      </div>
                    </div>
                    <div class="card-body px-0">
                      <div class="row align-items-center">
                        <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                            <%= f.email_field :email, placeholder: "Votre nouvel email", class: "form-control form-control-lg" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="mt-0 mb-0">

                  <!-- Change password -->
                  <div class="card no-border bg-transparent">
                    <div class="card-title px-0 pb-0 no-border">
                      <h3 class="heading heading-6 strong-600">
                        Changer de mot de passe
                      </h3>
                    </div>
                    <div class="card-body px-0">
                      <div class="row">
                        <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                            <%= f.label :current_password, 'Mot de passe actuel'%>
                            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-lg" %>
                          </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                            <%= f.label :password, 'Nouveau mot de passe' %>
                            <%= f.password_field :password, class: "form-control form-control-lg"%>
                          </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                            <%= f.label :password_confirmation, 'Confirmer le nouveau mot de passe' %>
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
                          </div>
                        </div>
                      </div>

                      <div class="text-right">
                        <%= f.submit "Mettre à jour mon compte", class: "btn btn-base-1" %>
                      </div>
                    </div>
                  </div>
                <% end %>

                <hr class="mt-0 mb-0">

                <div class="card no-border bg-transparent">
                  <div class="card-title px-0 pb-0 no-border">
                    <h3 class="heading heading-6 strong-600">
                      Supprimer mon compte
                    </h3>

                    <div class="card-body px-0">
                      <div class="text-right">
                        <p class="mt-1 mb-0">
                          Attention, cette action est irreversible
                        </p>
                        <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr?" }, method: :delete, class: "btn btn-base-1" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
