<section class="slice-lg has-bg-cover bg-size-cover">
    <div class="container">
        <div class="row justify-content-center cols-xs-space">
            <div class="col-lg-6">
                <div class="form-card form-card--style-2 z-depth-2-top">
                    <div class="form-header text-center">
                        <div class="form-header-icon">
                            <i class="icon ion-ios-log-in"></i>
                        </div>
                    </div>
                    <div class="form-body">

                        <div class="text-center px-2">
                            <h4 class="heading heading-4 strong-400 mb-4">Créer un compte</h4>
                        </div>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-default mt-4") do |f| %>
                        <%= devise_error_messages! %>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <%= f.label :email, class: "control-label" %><br />
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <%= f.label :password, "Mot de passe (#{@minimum_password_length} caractères minimum)" , class: "control-label"%>
                                        <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">
                                        <%= f.label :password_confirmation, "Confirmation du mot de passe", class: "control-label" %><br />
                                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 ">
                                <small class="">En cliquant sur créer un compte vous acceptez les termes de nos conditions générales d'utilisation.</small>
                            </div>
                            <%= f.submit "Créer un compte" , class: "btn btn-styled btn-block btn-base-1 mt-4" %>
                        <% end %>

                        <div class="or or--1 mt-2">
                            <span>or</span>
                        </div>
                        <% resource_class.omniauth_providers.each do |provider| %>
                          <%= link_to "<i class='icon fab fa-facebook-f'></i> Se connecter avec Facebook".html_safe, omniauth_authorize_path(resource_name, provider), class: "btn btn-styled btn-block btn-facebook btn-icon--2 btn-icon-left px-4" %>
                        <% end %>

                        <%= render "users/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
